button {
    border-width: 0px;
}

.l-title {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 24px; 
}

#l-title-left {
    float: left;
    width: 52px;
    background-color: white;
}

#l-title-right{ 
    position: relative;
    margin-left: 62px;
    margin-right: 15px;
    background-color: white;
}

.l-portait {
    margin-left: 15px;
    width: 37px;
    height: 37px;
    -webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

.l-title-nickname {
    font-size: 15px;
    font-weight: 700;
}

.l-title-followBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    width: 60px;
    height: 30px;
    color: white;
    background-color: #f95959;    
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.l-description {
    display: inline-block;
}

.l-main-content {
    margin-top: 28px;
}

.l-main-content p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 17px;
    color: #808080;
}

.content-img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 200px;
}

.l-bottomBar { 
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.l-tag-list {
    display: inline;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.l-tag-list-li {
    display: inline;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;    
    padding-right: 9px;
    background-color: #f6f6f6;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 1px solid #ebebeb;
}

.l-title-like-img {
    width: 18px;
    height: 18px; 
}

.l-title-like-btn {
    float: right;
    color: #1e1e1e;
}

.l-reward-btn-img {
    width: 20px;
    height: 20px;
}

.l-reward-btn {
    margin-top: 26px;
    width: 96px;
    height: 34px;
    color: #f95959;
    background-color: white;
    -webkit-border-radius: 18px;
	-moz-border-radius: 18px;
    border-radius: 18px;
    border-width: 1px;
    border-color: #d7d7d7;
}

.l-reward-list {
	display: inline;
	margin-top: 10px;
	padding-left: 0px;
	list-style: none;
}

.l-reward-li {
	display: inline;
	margin-right: 5px;
}

.like-portait {
	width: 26px;
	height: 26px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

.reward {
    float: right;
    margin-top: 26px;
}

.comment-all-comment {
	margin: 0 0 0 15px;
	font-size: 14px;
	font-weight: 400;
}

.l-comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.l-comment-list-li {
}

#comment-li-left {
	float: left;
	width: 51px;
	background-color: white;
}

#comment-li-right {
	background-color: ƒ white;
	margin-left: 61px;
	/*==等于左边栏宽度==*/
	margin-right: 16px;
	padding-top: 16px;
}

.comment-li-replyBtn {
	padding: 0;
    font-size: 14px;
    background-color: #ffffff;
}

.like-img {
	width: 18px;
	height: 18px;
}

.fill {
	height: 20px;
	width: 100%;
	background-color:rgba(255, 255, 255, 0);
}

.portait {
	position: relative;
	margin-left: 14px;
	margin-top: 16px;
	width: 36px;
	height: 36px;
	vertical-align: text-top;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

.follow {
	padding: 0px;
	float: right;
	font-size: 16px;
    color: #9d9ea2;
    background-color: #ffffff;
}

.header-report {
	float: right;
	font-size: 12px;
}

.header-content {
	margin-top: 10px;
	margin-bottom: 8px;
	font-size: 16px;
}

.l-separate {
    height: 6px;
    width: 100%;
    background-color: #f2f2f2;
}

.like-button {
	float: right;
	margin-top: 3px;
	display: inline;
	font-size: 13px;
}