.category-main {
    position: relative;
    margin-top: 0.9rem;
    padding-top: 1px;
}

.category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-content {
    margin-top: 0.27rem;
    margin-left: 0.15rem;
    width: 47%;
    height: 3.34rem;
    background-color: #493a6c;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    border-radius: 0.6rem;
}

.list-link {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.list-icon {
    color: #ffffff;
    font-size: 1.47rem;
}

.list-icon-block {
    position: relative;
    top: 0.57rem;
    padding-bottom: 0.15rem;
    width: 100%;
    text-align: center;
}

.list-icon-edit-block {
    
    position: relative;
    display: block;
    margin-top: 0.32rem;
    margin-left: 0.21rem;
    margin-right: 0.21rem;
    height: 0.48rem;
}

.list-left-icon {
    float: left;
    margin-top: 0.03rem;
    width: 0.45rem;
    height: 100%;
    color: #ffffff;
    font-size: 0.3rem;
}

.list-right-icon {
    float: right;
    width: 0.48rem;
    height: 100%;
    color: #ffffff;
    font-size: 0.4rem;
}


.list-title {
    position: relative;
    /* margin-top: 0.3rem; */
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0.35rem;
    color: #ffffff;
    text-align: center;
}

.list-title-block {
    position: relative;
    width: 100%;
    text-align: center;
}

.hide {
    display: none;
}

/* 新增物品表单样式 */
.add-form {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2.15rem;
}

.form-content {
    width: 100%;
    height: 100%;
}

.form-edit-icon {
    float: left;
    position: relative;
    display: inline-block;
    margin-top: 0.2rem;
    margin-left: 0.15rem;
    color: #ffffff;
    font-size: 0.35rem;
}

.category-input {
    position: relative;
    float: left;
    display: inline-block;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    width: 70%;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 0.33rem;
}

.form-separated {
    position: relative;
    float: left;
    margin-top: 0;
    margin-left: 0.7rem;
    margin-bottom: 0;
    margin-right: 0;
    width: 70%;
    height: 0.01rem;
    padding: 0;
    color: #ffffff;
    background-color: #ffffff;
}

/* 去除文本框默认发光边框 */
input:focus, textarea:focus {
    outline: none;
}
/* Placeholder 样式 */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #DCDCDC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666666;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666666;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #666666;
}

.wait-edit {
    /* display: none; */
}

.editing {
    display: none;
}

/* 单品列表样式 */
.product-list-icon-block {
    position: relative;
    display: block;
    margin-top: 0.35rem;
    margin-left:0.23rem;
    margin-right: 0.2rem;
    height: 0.5rem;
    width: 87.1%;
    text-align: center;
}

.product-left-icon {
    float: left;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 0.48rem;
}

.product-center-icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.15rem;
    color: #ffffff;
    font-size: 0.26rem;
    text-align: center;
}

.product-right-icon {
    float: right;
    display: inline-block;
    margin-top: 0.05rem;
    vertical-align: middle;
    color: #ffffff;
    font-size: 0.48rem;
}

.list-name-icon {
    float: left;
    position: relative;
    display: inline-block;
    /* margin-top: 0.2rem; */
    padding-right: 0.25rem;
    margin-left: 0.5rem;
    color: #ffffff;
    font-size: 0.4rem;
}

.product-list-title {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0.4rem;
    color: #ffffff;
    text-align: left;
}

.product-list-title-block {
    padding-top: 0.3rem;
}

.product-list-seprate {
    margin-top: 0.1rem;
}