/* css */
html {font-size: 100px;}

.box {
    position: relative;
    max-width: 10rem;
    margin: 0 auto;
}

.home-index {

}

.home-index-bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 0.9rem;
    /* padding-right: 0.1rem;
    padding-left: 0.1rem; */
    background-color: #f5f5f5;
    border-bottom: 0.01rem solid #dddddd;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.home-index-bar-nav { 
    top: 0; 
}

.home-index-portrait {
    position: absolute;
    margin: 0 auto;
    height: 0.5rem;
    width: 0.5rem;
}

.home-header-username {
    font-size: 40px;
}



.home-index-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.9rem;
}
