.l-index-bar { 
    position: fixed; 
    right: 0; 
    left: 0; 
    z-index: 10;
    height: 44px; 
    padding-right: 10px; 
    padding-left: 10px; 
    background-color: #f5f5f5; 
    border-bottom: 1px solid #dddddd; 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; 
} 

.l-index-bar-nav { 
    top: 0; 
}

h1.l-index-bar-title {
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    color: #564f4b;
}

.l-index-main {
    position: relative;
    top: 44px;
    right: 0;
    left: 0;
}

.l-index-list-content {
    display: block;
}

.am-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.am-list > li {
     list-style-type: none;
}
